<div id="app">
  <form id="smmSendForm" class="form-horizontal">
  <div class="top">
    <div class="row">
      <div class="col-sm-12 col-xs-12 .col-md-12"><input class="form-control to" type="text" name="to" placeholder="To" /></div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        
      </div>
    </div>
  </div>
    <div class="clearfix"></div>
    <div class="bottom">
      <div class="row">
        <div class="col-sm-10 col-xs-9 col-md-11">
        <textarea class="form-control message" id="message" name="message" placeholder="Message"></textarea>
        </div>
        <div class="col-sm-2 col-xs-3 col-md-1">
          <button class="btn btn-primary pull-right" id="send">Send</button>
        </div>
    </div>
  </div>
  </form>
</div>